<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @borrower.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @borrower.last_name %>
</p>

<p>
  <b>Email:</b>
  <%= @borrower.email %>
</p>

<p>
  <b>Cell phone:</b>
  <%= @borrower.cell_phone %>
</p>

<p>
  <b>Home phone:</b>
  <%= @borrower.home_phone %>
</p>

<p>
  <b>Address:</b>
  <%= @borrower.address %>
</p>

<p>
  <b>Address2:</b>
  <%= @borrower.address2 %>
</p>

<p>
  <b>City:</b>
  <%= @borrower.city %>
</p>

<p>
  <b>State:</b>
  <%= @borrower.state %>
</p>

<p>
  <b>Zip:</b>
  <%= @borrower.zip %>
</p>

<p>
  <b>Market value:</b>
  <%= @borrower.market_value %>
</p>

<p>
  <b>Property address:</b>
  <%= @borrower.property_address %>
</p>

<p>
  <b>Bedrooms:</b>
  <%= @borrower.bedrooms %>
</p>

<p>
  <b>Baths:</b>
  <%= @borrower.baths %>
</p>

<p>
  <b>Current market value:</b>
  <%= @borrower.current_market_value %>
</p>

<p>
  <b>Liens against property:</b>
  <%= @borrower.liens_against_property %>
</p>

<p>
  <b>Description:</b>
  <%= @borrower.description %>
</p>

<p>
  <b>Under contract:</b>
  <%= @borrower.under_contract %>
</p>

<p>
  <b>Referral:</b>
  <%= @borrower.referral %>
</p>

<p>
  <b>Closing date:</b>
  <%= @borrower.closing_date %>
</p>

<p>
  <b>Repairs needed:</b>
  <%= @borrower.repairs_needed %>
</p>

<p>
  <b>Purchase price:</b>
  <%= @borrower.purchase_price %>
</p>

<p>
  <b>Exit strategy:</b>
  <%= @borrower.exit_strategy %>
</p>

<p>
  <b>Loan type requesting:</b>
  <%= @borrower.loan_type_requesting %>
</p>

<p>
  <b>Gross monthly income:</b>
  <%= @borrower.gross_monthly_income %>
</p>

<p>
  <b>Loan amount requested:</b>
  <%= @borrower.loan_amount_requested %>
</p>

<p>
  <b>Length of term anticipated:</b>
  <%= @borrower.length_of_term_anticipated %>
</p>

<p>
  <b>Property info:</b>
  <%= @borrower.property_info %>
</p>

<p>
  <b>Loan summary overview:</b>
  <%= @borrower.loan_summary_overview %>
</p>

<p>
  <b>Comment:</b>
  <%= @borrower.comment %>
</p>


<%= link_to 'Edit', edit_borrower_path(@borrower) %> |
<%= link_to 'Back', borrowers_path %>
