<h1>We will buy your property Quickly!</h1>

<% if session[:name].present? %> 
  Hi <%= session[:name].to_s %>,<br/>
<% end %>

<div class="content seller_content">
  <div class="section">
    <div class="column">
      <div class="article options">
        <%= button_to "Need to Sell Quick", "#", class: "options", :id => "button_sell_quick" %>
        <%= button_to "Hate Landlording", "#", class: "options", :id => "button_hates_landlording" %>
        <%= button_to "Foreclosure", "#", class: "options", :id => "button_foreclosure" %>  
      </div>
      <div class="youtube">
        <%= video_tag("We buy video for lion mgt Take 1.mp4", :autoplay => true, :loop => false, :controls => true, :autobuffer => true, :width => 450) %>
      </div>
      <div class="article" id="seller_hates_being_land_lord">
        <%= render :partial => "sell_reasons_land_lord" %>
      </div>
      <div class="article" id="seller_sell_quick">
        <%= render :partial => "sell_reasons_need_fast_cash" %>
      </div>
      <div class="article" id="seller_foreclosure">
        <%= render :partial => "sell_reasons_foreclosure" %>
      </div> 
    </div>
    <div class="form">  
      <%= render 'form' %>
    </div>
  </div>
</div>


  

  


