<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @seller.name %>
</p>

<p>
  <b>Email:</b>
  <%= @seller.email %>
</p>

<p>
  <b>Cell phone:</b>
  <%= @seller.cell_phone %>
</p>

<p>
  <b>Home phone:</b>
  <%= @seller.home_phone %>
</p>

<p>
  <b>Address:</b>
  <%= @seller.address %>
</p>

<p>
  <b>City:</b>
  <%= @seller.city %>
</p>

<p>
  <b>State:</b>
  <%= @seller.state %>
</p>

<p>
  <b>Zipcode:</b>
  <%= @seller.zipcode %>
</p>

<p>
  <b>Bedrooms:</b>
  <%= @seller.bedrooms %>
</p>

<p>
  <b>Baths:</b>
  <%= @seller.baths %>
</p>

<p>
  <b>Current market value:</b>
  <%= @seller.current_market_value %>
</p>

<p>
  <b>Liens against property:</b>
  <%= @seller.liens_against_property %>
</p>

<p>
  <b>Referral:</b>
  <%= @seller.referral %>
</p>

<p>
  <b>When to sell:</b>
  <%= @seller.when_to_sell %>
</p>

<p>
  <b>Current on payments:</b>
  <%= @seller.current_on_payments %>
</p>

<p>
  <b>Repairs needed:</b>
  <%= @seller.repairs_needed %>
</p>

<p>
  <b>Comment:</b>
  <%= @seller.comment %>
</p>


<%= link_to 'Edit', edit_seller_path(@seller) %> |
<%= link_to 'Back', sellers_path %>
