<p id="notice"><%= notice %></p>

<p>
  <b>Address:</b>
  <%= @prospective_property.address %>
</p>

<p>
  <b>City:</b>
  <%= @prospective_property.city %>
</p>

<p>
  <b>State:</b>
  <%= @prospective_property.state %>
</p>

<p>
  <b>Zip:</b>
  <%= @prospective_property.zip %>
</p>

<p>
  <b>Bedrooms:</b>
  <%= @prospective_property.bedrooms %>
</p>

<p>
  <b>Bathrooms:</b>
  <%= @prospective_property.bathrooms %>
</p>

<p>
  <b>Price:</b>
  <%= @prospective_property.price %>
</p>

<p>
  <b>Squareft:</b>
  <%= @prospective_property.squareft %>
</p>

<p>
  <b>Rentometer:</b>
  <%= @prospective_property.rentometer %>
</p>

<p>
  <b>Year built:</b>
  <%= @prospective_property.year_built %>
</p>

<p>
  <b>Interest:</b>
  <%= @prospective_property.interest %>
</p>

<p>
  <b>Latitude:</b>
  <%= @prospective_property.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @prospective_property.longitude %>
</p>

<p>
  <b>User:</b>
  <%= @prospective_property.user %>
</p>

<p>
  <b>Source:</b>
  <%= @prospective_property.source %>
</p>

<p>
  <b>Taxes:</b>
  <%= @prospective_property.taxes %>
</p>

<p>
  <b>Contact:</b>
  <%= @prospective_property.contact %>
</p>

<p>
  <b>Arv:</b>
  <%= @prospective_property.arv %>
</p>

<p>
  <b>Max:</b>
  <%= @prospective_property.max %>
</p>

<p>
  <b>Repair estimate:</b>
  <%= @prospective_property.repair_estimate %>
</p>

<p>
  <b>Comment:</b>
  <%= @prospective_property.comment %>
</p>


<%= link_to 'Edit', edit_prospective_property_path(@prospective_property) %> |
<%= link_to 'Back', prospective_properties_path %>
