<div class="header">
  <div class="menu">
    <ul>
      <li><%= link_to "HOME", root_path %></li>
      <li><%= link_to "Sell", new_seller_path %></li>
      
      <!-- <li><%= link_to "FAQs", "#" %></li>
      <li><%= link_to "Testimonials", "#" %></li> 
      <li><%= link_to "Blog", blogs_path %></li>
      <li><%= link_to "About Us", "#" %></li>
      <li><%= link_to "Contact", "#" %></li> -->
      <% unless current_user %>
        <li><%= link_to "Members", new_user_session_path %></li>
      <% else %>
        <li><%= link_to "Profile", "#" %></li>
        <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
      <% end %>
      <!-- <li><%= link_to image_tag("f_logo.png", :size=>"25x25"), "http://www.facebook.com/LionMoneyBank", :target => "new" %></li> -->
    </ul>
  </div>
  <div class="section">
    <div class="column1">
      <%= image_tag("mini_lion_logo.png", :width=> "100px") %>
    </div>
    <div class="column4">
      <%= image_tag("phil_face.jpg", :width => "80") %>
    </div>
    <div class="column3">
      Phil Cutting<br/>
      Investor, Commercial Financier & Real Estate Consultant<br/>
      (t) (614)358-1944<br/>
      phil@lionMGT.com
    </div>
    

  </div>


</div>
