<div class="header">
  <div class="menu">
    <ul>
      <li><%= link_to "HOME", root_path %></li>
      <li><%= link_to "Sell", new_seller_path %></li>
      <li><%= link_to "Borrow", new_borrower_path %></li>
      <li><%= link_to "Lend", new_lender_path %></li>
      <li><%= link_to "FAQs", "#" %></li>
      <li><%= link_to "Testimonials", "#" %></li>
      <li><%= link_to "Blog", blogs_path %></li>
      <li><%= link_to "About Us", "#" %></li>
      <li><%= link_to "Contact", "#" %></li>
      <% unless current_user %>
        <li><%= link_to "Join Now", "#" %></li>
        <li><%= link_to "Members", new_user_session_path %></li>
      <% else %>
        <li><%= link_to "Profile", "#" %></li>
        <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
      <% end %>
      <li><%= link_to image_tag("f_logo.png", :size=>"25x25"), "http://www.facebook.com/LionMoneyBank", :target => "new" %></li>
    </ul>
  </div>
  <div class="section">
    <div class="column1">
      <%= image_tag("mini_lion_logo.png", :width=> "100px") %>
    </div>
    <div class="left column2">
      <div class = "row">
        <%= button_to "Sell", new_seller_path, :method => "get" %>
        <%= button_to "Borrow", new_borrower_path, :method => "get" %>
        <%= button_to "Lend", new_lender_path, :method => "get" %>
      </div>
      <div class = "hide">
      <%# TODO: see if it makes sense to put this back into it %>
        <div class="row">
          <%= button_to "Buy/Rent", new_buyer_path, :method => "get" %>
          <%= button_to "Foreclosure", new_seller_path, :method => "get" %>
          <%= button_to "Pay Rent", "#" , :method => "get" %>
        </div>
      </div>
    </div>
    <div class="column3">
      Phil Cutting<br/>
      Investor, Commercial Financier & Real Estate Consultant<br/>
      (t) (614)285-6112<br/>
      phil@lionMGT.com
    </div>
  </div>


</div>
