<!DOCTYPE html>
<html>
<head>
  <title>Realestate</title>
  <meta name="description" content="Investment Realestate solutions for Financing, Management Software and Portfolios">
  
  <link rel="shortcut icon" href="<%= image_path "favicon.ico" %>" type="image/x-icon" />
  
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
  <%= render :partial => "layouts/analytics" %>
</head>
<body>
  <div id="contents">
  <%= render :partial => "layouts/home_header" %>
  <div class="section">
    <%= yield %>
  </div>
  
  <%= render :partial => "layouts/home_footer" %>
  </div>
</body>



</html>
